* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Charcoal);
    z-index: 0;
    font-family: cursive;
}

:root {
    --dusty-pink: #EAA9A9;
    --Mint-blue: #BBE2E3;
    --Mint-blue-transparent: #bbe2e37e;
    --Off-White: #F6F6F0;
    --Charcoal: #090808;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--Off-White);
}

.bgnotif {
    width: 100%;
    height: 100%;
    background-color: var(--Mint-blue-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: ease-in-out 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.notif {
    border: 0.2rem solid var(--dusty-pink);
    box-shadow: 5px 5px 10px 0.1px var(--dusty-pink);
    width: fit-content;
    height: fit-content;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--Mint-blue);
    border-radius: 1rem;
}

.notif>div {
    display: flex;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#day, #month, #name {
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#day::placeholder, #month::placeholder {
    text-align: center;
}

button {
    padding: 0.3rem;
    cursor: pointer;
}

.closed {
    transform: scale(0.1);
    opacity: 0;
    pointer-events: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}